# Sirius Passport (активно)
SIRIUS_PASSPORT_AUTH_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/auth
SIRIUS_PASSPORT_TOKEN_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/token
SIRIUS_PASSPORT_USERINFO_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/userinfo
SIRIUS_PASSPORT_JWKS_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/certs
SIRIUS_PASSPORT_CLIENT_ID=replace-sirius-passport-client-id
SIRIUS_PASSPORT_CLIENT_SECRET=replace-sirius-passport-client-secret

# Keycloak (второй провайдер, отключено)
#KEYCLOAK_ENABLED=false
#SIRIUS_ENABLED=true
#SIRIUS_CLIENT_ID=replace-keycloak-client-id
#SIRIUS_CLIENT_SECRET=replace-keycloak-client-secret
#KEYCLOAK_AUTH_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/auth
#KEYCLOAK_TOKEN_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/token
#KEYCLOAK_USERINFO_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/userinfo
#KEYCLOAK_JWKS_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/certs
