# Sirius Passport (realm testlims)
SIRIUS_PASSPORT_AUTH_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/auth
SIRIUS_PASSPORT_TOKEN_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/token
SIRIUS_PASSPORT_USERINFO_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/userinfo
SIRIUS_PASSPORT_JWKS_URI=https://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/certs
SIRIUS_PASSPORT_CLIENT_ID=testlims
SIRIUS_PASSPORT_CLIENT_SECRET=Aw1qWzzY2YEnFaRpfp7wMhycPoNTekTa

# UUID-клиент Sirius (когда заведут в realm testlims — раскомментируй и закомментируй строки выше)
#SIRIUS_PASSPORT_CLIENT_ID=4fd5eda7-d63e-4789-8ff2-427e39c79749
#SIRIUS_PASSPORT_CLIENT_SECRET=ezErQLrBfXMyW-8KycEQmCmINO

# Keycloak (второй провайдер, отключено)
#SIRIUS_CLIENT_ID=testlims
#SIRIUS_CLIENT_SECRET=Aw1qWzzY2YEnFaRpfp7wMhycPoNTekTa
#KEYCLOAK_AUTH_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/auth
#KEYCLOAK_TOKEN_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/token
#KEYCLOAK_USERINFO_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/userinfo
#KEYCLOAK_JWKS_URI=http://keykloak.talantiuspeh.ru/realms/testlims/protocol/openid-connect/certs
